* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Goldman", cursive;
  min-height: 100vh;
  position: relative;
}
#homescreen {
  background-image: url("img/background.jpeg");
  background-size: cover;
  color: White;
  background-repeat: no-repeat;
  background-color: black;
}
.whitescreen {
  background-color: white;
  color: black;
  min-height: 100vh;
  position: relative;
}

.blackscreen {
  background-color: black;
  color: white;
}
h1 {
  font-size: 7rem;
  text-align: center;
  padding-top: 25vh;
  font-weight: bold;
}
h2 {
  font-size: 6rem;
  text-align: center;
  padding-top: 7vh;
  font-weight: bold;
}

.logo {
  width: 40rem;
  float: left;
}
nav {
  position: sticky;
  top: 0;
  display: flex;
  width: 100%;
  padding: 2rem;
  min-height: 10vh;
  align-items: center;
  margin: auto;
  flex-wrap: wrap;
  background: #00a8c7;
  justify-content: space-between;
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 2rem;
  height: 10rem;
  background: #00a8c7;
  text-align: center;
}
article {
  float: right;
  font-size: 2.2rem;
  width: 50%;
  padding: 1rem 10rem 1rem 1rem;
  align-items: center;
}
figure {
  float: left;
  width: 50%;
  padding: 0 10% 0 10%;
  align-content: center;
}
#footer {
  padding: 1.5em 0;
}
nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}
nav li,
footer {
  font-size: 2.5rem;
  padding: 0 4rem 0 4rem;
}
nav a,
footer {
  color: white;
  text-decoration: none;
}
nav img {
  width: 5vw;
}
