* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  position: relative;
  min-height: 100vh;
}
body {
  font-family: "Goldman", cursive;
}
#homescreen {
  background-image: url("img/background.jpeg");
  background-size: cover;
  color: White;
  background-repeat: no-repeat;
  background-color: black;
}
.whitescreen {
  background-color: white;
  color: black;
}

.blackscreen {
  background-color: black;
  color: white;
}
h1 {
  font-size: 7rem;
  text-align: center;
  padding-top: 25vh;
  font-weight: bold;
}
h2 {
  font-size: 6rem;
  text-align: center;
  padding-top: 7vh;
  font-weight: bold;
  margin-bottom: 3rem;
}
img {
  float: left;
  width: 40rem;
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 2rem;
  height: 10rem;
  background: #00a8c7;
  text-align: center;
}
article {
  float: left;
  font-size: 2.2rem;
  width: 50%;
  align-items: center;
}
figure {
  float: left;
  width: 50%;
  padding: 0 10% 0 10%;
  align-content: center;
}
#footer {
  padding: 1.5em 0;
}
.logo {
  float: left;
}
p {
  font-weight: 10;
}
form {
  position: relative;
  margin: auto;
  font-size: 1.8rem;
  width: 35vw;
  height: 40vh;
}
input,
textarea {
  width: 35vw;
  border-radius: 0.3rem;
  margin: 0.5vh 0 1vh 0;
  height: 3vh;
  padding: 2vh 0;
  border-color: black;
  border-width: 1px;
}
#submit {
  margin-top: 2vh;
  text-align: center;
  background-color: #00a8c7;
  font-family: "Goldman", cursive;
  color: white;
  border: none;
  text-decoration: none;
  padding: 1px;
  height: 5vh;
}
nav {
  position: sticky;
  top: 0;
  display: flex;
  width: 100%;
  padding: 1rem;
  min-height: 10vh;
  align-items: center;
  margin: auto;
  flex-wrap: wrap;
  background: #00a8c7;
  justify-content: space-between;
}
nav ul:not(#drop-content) {
  display: flex;
  align-items: center;
  list-style-type: none;
}
nav li,
footer {
  font-size: 2.5rem;
  padding: 0 4rem 0 4rem;
}
nav a,
footer {
  color: white;
  text-decoration: none;
}
nav img {
  width: 5vw;
}
#drop-main {
}
#drop-content {
  display: none;
  position: absolute;
  background-color: white;
}
#drop-main:hover #drop-content {
  display: block;
}
#drop-main:hover a{
  background-color: white;
  color:#00a8c7;
}
#drop-main a:hover:not(#drop-button) {
  background-color: #E9E9E9;
}
li:not(#drop-content) a {
  padding: 1rem;
}
#drop-content a {
  display: block;
  text-align: left;
  color:#00a8c7;
}
